body {
    width: 100%;
    padding: 0;
    margin: 0;
}


.tela-inteira {
    height: 100vh;
    display: flex;
    flex-direction: column;
}


main {
    min-height: 95vh;
    display: flex;
    /* margin-bottom: 1vh; */
}


.painel-de-videos {
    padding-left: 20px;
    padding-top: 20px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(4, 24.8% 0.2%);
    grid-template-rows: repeat(4, 270px 20px);
}

.media2 {
    grid-column-start: 3;
    grid-row-start: 1;
}

.media3 {
    grid-column-start: 5;
    grid-row-start: 1;
}

.media4 {
    grid-column-start: 7;
    grid-row-start: 1;
}

.media5 {
    grid-column-start: 1;
    grid-row-start: 3;
}

.media6 {
    grid-column-start: 3;
    grid-row-start: 3;
}

.media7 {
    grid-column-start: 5;
    grid-row-start: 3;
}

.media8 {
    grid-column-start: 7;
    grid-row-start: 3;
}

.box-pagina-principal > img {
    width: 100%;
    height: 200px;
}

h4 {
    margin-left: 20px;
}
